* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(bk.avif);
    background-size: contain;
}

H1{
    text-align: center;
    background-color: brown;
}

#b1{
    height: 350px;
    width:  1000px;
    background-image: url(MODEL1.PNG);
    background-color: green;
    background-size: cover;
    display:inline-block;
    position:absolute;
    margin-top: 120px;
    margin-left: 60px;
}

#T1{
    height: 1000px;
    width: 700px;
    margin-left: 1200px;
    margin-top:120px ;
    background-color: aqua;
    display: inline;
    position:absolute;
}

#b2{
    height: 900px;
    width:  1000px;
    background-image: url(m1b.JPG);
    background-color: green;
    background-size: cover;
    display:inline-block;
    position:absolute;
    margin-top: 600px;
    margin-left: 60px;
}


#b3{
    height: 450px;
    width:  1000px;
    background-image: url(m2.JPG);
    background-color: green;
    background-size: cover;
    display:inline-block;
    position:absolute;
    margin-top: 1600px;
    margin-left: 60px;
}

#T2{
     height: 800px;
     width: 700px;
    margin-left: 1200px;
    margin-top:1600px ;
    background-color: aqua;
    display: inline;
    position:absolute;

}

#b4{
     height: 800px;
        width:  1000px;
        background-image: url(m2b.JPG);
        background-color: green;
        background-size: cover;
        display:inline-block;
        position:absolute;
        margin-top: 2200px;
        margin-left: 60px;
    
}

#b5{
    height: 450px;
    width:  1200px;
    background-image: url(m3.JPG);
    background-color: green;
    background-size: cover;
    display:inline-block;
    position:absolute;
    margin-top: 3100px;
    margin-left: 60px;
}

#T3{
        height: 800px;
        width: 600px;
        margin-left: 1400px;
        margin-top:3100px ;
        background-color: aqua;
        display: inline;
        position:absolute;
    
}
#b6{
    height: 800px;
    width:  1200px;
    background-image: url(b1.JPG);
    background-color: green;
    background-size: cover;
    display:inline-block;
    position:absolute;
    margin-top: 3800px;
    margin-left: 60px;
}

footer{
    margin-top: 5000px;
    background-color: rgba(0, 0, 255, 0.61);
}